<div id="statisticsheader">
  <h1>
    What.CD Statistics for <%= link_to @user.username, { :controller => "users", :action => "show", :id => @user.id } %>
  </h1>
</div>

<div id="overallstatistics">
  <!-- This will be removed and replaced with javascript -->
  <p id="tempdata"><%= pretty_decimal(@user.statistics.last.uploaded) %> |
  <%= pretty_decimal(@user.statistics.last.downloaded) %> |
  <%= pretty_decimal(@user.statistics.last.buffer) %> |
  <%= pretty_ratio(@user.statistics.last.ratio) %></p>
  <!-- End temp data-->
</div>

<div id="statisticstable">
  <table>
    <thead>
      <tr>
        <th>Time</th>
        <th>Uploaded</th>
        <th>Downloaded</th>
        <th>Buffer</th>
        <th>Ratio</th>
      </tr>
    </thead>

    <% @user.statistics.each do |statistic| %>
      <tr>
        <td><%= statistic.created_at.strftime("%b %d %I:%M%p") %></td>
        <td><%= pretty_decimal(statistic.hourly_statistic.change_in_uploaded) %> (<%= pretty_decimal(statistic.uploaded) %>)</td>
        <td><%= pretty_decimal(statistic.hourly_statistic.change_in_downloaded) %> (<%= pretty_decimal(statistic.downloaded) %>)</td>
        <td><%= pretty_decimal(statistic.hourly_statistic.change_in_buffer) %> (<%= pretty_decimal(statistic.buffer) %>)</td>
        <td><%= pretty_ratio(statistic.hourly_statistic.change_in_ratio) %> (<%= pretty_ratio(statistic.ratio) %>)</td>
      </tr>
    <% end %>
  </table>
</div>

