<div id="statisticsheader">
  <h1>
    What.CD Statistics for <%= link_to @user.username, { :controller => "users", :action => "show", :id => @user.id } %>
  </h1>
</div>

<div id="overallstatistics">
  <!-- This will be removed and replaced with javascript -->
  <p id="tempdata">

  </p>
  <!-- End temp data-->
</div>

<div id="statisticstable">
  <table>
    <thead>
      <tr>
        <th>Time</th>
        <th>Uploaded</th>
        <th>Downloaded</th>
        <th>Buffer</th>
        <th>Ratio</th>
      </tr>
    </thead>

    <% @user.statistics.each do |statistic| %>
      <tr>
        <td><%= statistic.created_at.strftime("%b %d %I:%M%p") %></td>
        <td><%= make_viewable_stats(statistic.hourly_statistic.change_in_uploaded, statistic.uploaded) %></td>
        <td><%= make_viewable_stats(statistic.hourly_statistic.change_in_downloaded, statistic.downloaded) %></td>
        <td><%= make_viewable_stats(statistic.hourly_statistic.change_in_buffer, statistic.buffer) %></td>
        <td><%= make_viewable_ratio(statistic.hourly_statistic.change_in_ratio, statistic.ratio) %></td>
      </tr>
    <% end %>
  </table>
</div>

