<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <header role="banner">
        <div id="logo"><%= link_to logo, root_path %></div>
        <div class="log_in">
          <% if logged_in? %>
            Logged in as [<%= link_to current_user.username, my_stats_path %>]
            [<%= link_to "Logout", log_out_path %>]
          <% else %>
            [<%= link_to "Login", log_in_path %>]
          <% end %>
        <div>
      </header>

      <nav role="navigation">
        <!--<ul id="navigation">
          <li><%= link_to 'Top 10', '#'%></li>
          <li><%= link_to 'Preferences', '#'%></li>
          <li><%= link_to 'Graph Manager', '#'%></li>
        </ul>-->
      </nav>


    <div id="wrapper">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <%= yield %>
    <div>
  </body>
</html>

