<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div>
        <p>
        <% if logged_in? %>
          Logged in as [<%= link_to current_user.username, my_stats_path %>]
          [<%= link_to "Log out", log_out_path %>]
        <% else %>
          [<%= link_to "Log in", log_in_path %>]
        <% end %>
        </p>
      </div>
    </header>


    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

    <%= yield %>

  </body>
</html>

